.footerPage {
    position: relative;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);

    &__logoContainer {
        display: inline-block;
        padding-top: 0.5em;
        padding-left: 1em;
        padding-bottom: 1em;

        @media only screen and (min-width:1000px) {
            padding-top: 1em;
            padding-left: 3em;

        }

        &__logo {
            width: 70%;
            height: auto;

        }

        &__licent {
            font-size: 0.6em;
            color: gray;
            display: block;
            font-weight: 400;
            font-family: $defaultTextFont;
        }
    }

    &__icons {
        display: inline-block;


        &__iconX {
            display: inline;
            position: absolute;
            right: 15%;

            top: 30%;

            @media only screen and (min-width:1000px) {
                right: 8%;
            }

        }

        &__iconFace {
            display: inline;
            position: absolute;
            right: 5%;
            top: 30%;
        }
    }

}