.footerPage {
    position: relative;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);

    &__logoContainer {
        display: inline-block;
        padding-top: 0.5em;
        padding-left: 1em;
        padding-bottom: 1em;


        &__logo {
            width: 70%;
            height: auto;

        }

        &__licent {
            font-size: 0.6em;
            display: block;
        }
    }

    &__icons {
        display: inline-block;


        &__iconX {
            display: inline;
            scale: 20%;
            position: absolute;
            bottom: 5%;
            right: 0%;

        }

        &__iconFace {
            display: inline;
            position: absolute;
            right: 10%;
            top: 20%;
        }
    }

}