@import 'globalVariables.scss';


.form {
    padding-top: 1em;
    padding-left: 2em;
    font-family: $defaultTextFont;

    @media only screen and (min-width:1000px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }

    &__title {
        font-size: 2.2em;
        font-family: $alternativeTextFont;

        @media only screen and (min-width:1000px) {
            grid-column: 1;
            grid-row: 1;
            z-index: 1;
        }
    }

    &__subTitle {
        font-size: 0.8em;
        font-family: $alternativeTextFont;
        padding-bottom: 1em;


        @media only screen and (min-width:1000px) {
            @media only screen and (min-width:1000px) {
                grid-column: 1;
                grid-row: 1;
                z-index: 2;
                margin-top: 4em;
            }
        }
    }

    &__contactLine {
        padding-top: 1em;


        @media only screen and (min-width:1000px) {
            grid-column: 1;
            grid-row: 2;
            z-index: 3;
            margin-top: -2em;

        }



        &__text {
            display: inline-block;
            color: gray;
        }
    }

    &__inputLine {
        padding-top: 1em;
        padding-bottom: 2em;


        @media only screen and (min-width:1000px) {
            grid-column: 2;
            grid-row: 1;
            z-index: 1;
            margin-top: -2.5em;
            margin-bottom: 0em;
            vertical-align: top;
        }


        &__inputName {
            padding-top: 3em;
            padding-bottom: 2em;
            color: $button-color;
            font-size: 0.8em;

            @media only screen and (min-width:1000px) {
                margin-top: 1em;
            }
        }

        &__inputUserName {
            border: none;
            border-bottom: 1px solid gray;
            width: 90%;


        }

        &__inputUserEmail {
            border: none;

            border-bottom: 1px solid gray;
            width: 90%;
        }
    }

    &__consent {
        position: relative;
        padding-bottom: 2em;

        @media only screen and (min-width:1000px) {
            grid-column: 2;
            grid-row: 3;
            margin-top: 2em;

        }

        &__checkbox {
            position: absolute;
            width: 15px;
            height: 15px;
            appearance: none;
            border: 1px solid gray;
            border-radius: 2px;
            cursor: pointer;

            &:checked {
                background-color: transparent;
            }

            &:checked::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-50deg)scaleX(-1);
                width: 7px;
                height: 3px;
                border: solid $button-color;
                border-width: 0 1px 1px 0;
            }
        }

        &__text {
            color: gray;
            text-align: left;
            padding-left: 2em;
            padding-right: 4em;
            font-size: 0.7em;

        }
    }

    &__button {
        margin-left: 30%;
        margin-top: 8%;
        margin-bottom: 15%;
        padding: 4%;
        border-radius: 40px;
        width: 60%;
        max-width: 250px;
        background-color: $button-color;
        color: $alternativeColorText;
        font-weight: bold;
        border: none;
        box-shadow: 5px 2px 6px #07ACE6;
        font-size: 1rem;
        cursor: pointer;

        @media only screen and (min-width:1000px) {
            grid-column: 2;
            grid-row: 4;
            margin-top: -1em;
        }
    }

    .--secondLine {
        @media only screen and (min-width:1000px) {
            margin-left: 12em;
            z-index: 24
        }
    }

    .--secondInput {
        @media only screen and (min-width:1000px) {
            grid-row: 2;
        }
    }


}