@import 'globalVariables.scss';


.form {
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
    font-family: $defaultTextFont;
    position: relative;

    @media only screen and (min-width:1000px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3.5em 2em 1fr;
        grid-template-columns: 25em 35em;
        padding-left: 2em;
        justify-content: center;

    }

    &__title {
        font-size: 2.2em;
        font-family: $alternativeTextFont;

        @media only screen and (min-width:1000px) {
            grid-column: 1;
            grid-row: 1;
            z-index: 1;

        }
    }

    &__subTitle {
        font-size: 0.8em;
        font-family: $alternativeTextFont;
        padding-bottom: 1em;


        @media only screen and (min-width:1000px) {
            @media only screen and (min-width:1000px) {
                grid-column: 1;
                grid-row: 2;
                z-index: 2;

            }
        }
    }

    &__contactLine {
        padding-top: 1em;

        @media only screen and (min-width:1000px) {
            grid-column: 1;
            grid-row: 3;
        }

        &--secondLine {
            @media only screen and (min-width:1000px) {
                margin-left: 12em;
            }
        }

        &__text {
            display: inline-block;
            color: gray;
        }
    }

    &__inputLine {
        padding-top: 1em;
        padding-bottom: 2em;

        &__error {
            visibility: hidden;
            color: red;
            font-family: $alternativeTextFont;
            font-size: 0.8em;
        }

        @media only screen and (min-width:1000px) {
            grid-column: 2;
            grid-row: 1;
            z-index: 1;
            padding: 0%;
            vertical-align: top;
        }

        &--secondInput {
            @media only screen and (min-width:1000px) {
                grid-row: 3;
            }
        }

        &__inputName {
            padding-top: 3em;
            padding-bottom: 2em;
            color: $button-color;
            font-size: 0.8em;

            @media only screen and (min-width:1000px) {
                padding: 0%;
                padding-bottom: 1em;
            }
        }

        &__inputUserName {
            border: none;
            border-bottom: 1px solid gray;
            width: 90%;


        }

        &__inputUserEmail {
            border: none;

            border-bottom: 1px solid gray;
            width: 90%;
        }
    }

    &__consent {

        padding-bottom: 2em;

        @media only screen and (min-width:1000px) {
            grid-column: 2;
            grid-row: 4;
            padding-top: 2em;

        }

        &__checkbox {
            position: absolute;
            width: 15px;
            height: 15px;
            appearance: none;
            border: 1px solid gray;
            border-radius: 2px;
            cursor: pointer;

            &:checked {
                background-color: transparent;
            }

            &:checked::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-50deg)scaleX(-1);
                width: 7px;
                height: 3px;
                border: solid $button-color;
                border-width: 0 1px 1px 0;
            }
        }

        &__text {
            color: gray;
            text-align: left;
            padding-left: 2em;
            padding-right: 4em;
            padding-bottom: 6em;
            font-size: 0.7em;

            @media only screen and (min-width:1000px) {
                font-size: 0.9em;
                padding-bottom: 0em;
                padding-right: 2em;
            }

        }
    }

    &__buttonContainer {
        position: relative;

        @media only screen and (min-width:1000px) {
            grid-column: 2;
            grid-row: 5;
            text-align: right;

        }

        &__button {
            position: absolute;
            right: 10%;
            bottom: 5%;
            padding: 1em;
            padding-left: 4em;
            padding-right: 4em;
            border-radius: 40px;

            max-width: 250px;
            background-color: $button-color;
            color: $alternativeColorText;
            font-weight: bold;
            border: none;
            box-shadow: 5px 2px 6px #07ACE6;
            font-size: 1rem;
            cursor: pointer;

            @media only screen and (min-width:1000px) {
                position: relative;
                padding-left: 5em;
                padding-right: 5em;
                text-align: right;


            }
        }
    }

}