@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

//Colores Pagina
$backgroundPrimaryColor: #ffffff;
$button-color: #08A6E4;
$pricingPink: #EB476E;
$pricingGreen: #55DFB4;
//Fuentes 
$defaultTextFont: 'Open Sans', sans-serif;
$alternativeTextFont: 'Raleway', sans-serif;
$defaultColorText: black;
$alternativeColorText: White;

//Maquetacion
$defaulfMargin: 1%;