.goToTop {

    position: fixed;
    bottom: 8%;
    left: 5%;
    border: none;
    cursor: pointer;
    display: none;
    background: transparent;
    z-index: 4;

    &__img {
        width: 3em;
        height: 3em;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    }

    &__img:hover {
        transform: scale(1.1);
    }

    &__vibrating {
        animation: vibrate 0.2s ease-in-out;
        animation-iteration-count: 2;
    }

}

@keyframes vibrate {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}