.image {
    overflow: hidden;
    padding-top: 2em;

    &__content {
        width: 195%;
        height: auto;
        transform: translate(-25%, -0%)
    }

    @media only screen and (min-width:1000px) {
        &__content {
            width: 100%;
            height: auto;
            transform: translate(-0%, -0%)
        }
    }
}