.image {
    overflow: hidden;
    margin-top: 10%;

    &__content {
        width: 195%;
        height: auto;
        transform: translate(-25%, -0%)
    }

    @media only screen and (min-width:1000px) {
        &__content {
            width: 130%;
            height: auto;
        }
    }
}