@import 'globalVariables.scss';


.mostPopular {

    text-align: center;
    font-family: $alternativeTextFont;

    @media only screen and (min-width:1000px) {

        padding-left: 5.2em;
        padding-right: 5em;

    }

    &__header {
        color: $defaultColorText;
        font-size: 2em;
        line-height: 1.2em;

    }

    &__element {
        padding-top: 12%;

        &__imgContainer {
            position: relative;

            &--person {
                left: 50%;
                position: absolute;
                background: transparent;
            }

            &--eye {
                left: 48%;
                top: 20%;
                position: absolute;
                background: transparent;
            }

            &--papers {
                left: 50%;
                top: 14%;
                position: absolute;
                background: transparent;
            }

        }



        &__count {
            padding-top: 0.5em;
            font-weight: bold;
            font-size: 1.7em;
        }

        &__text {
            padding-top: 0.5em;
            color: gray;
            font-size: 1.2em;

        }

        @media only screen and (min-width:1000px) {
            display: inline-block;
            margin-top: 1%;
            vertical-align: top;
            margin-right: 5.2em;
            margin-left: 5.2em;
            padding-bottom: 2em;
        }
    }
}