@import 'globalVariables.scss';

.openingSection {
    font-family: $defaultTextFont;
    color: $defaultColorText;
    text-align: center;
    margin-top: 15%;
    width: 100%;
    height: auto;

    &__header {
        font-family: $alternativeTextFont;
        font-size: 2.5rem;
    }

    &__content {
        margin-top: 4%;
    }

    &__button {
        margin-top: 8%;
        padding: 4%;
        border-radius: 40px;
        width: 60%;
        max-width: 250px;
        background-color: $button-color;
        color: $alternativeColorText;
        font-weight: bold;
        border: none;
        box-shadow: 5px 2px 6px #07ACE6;
        font-size: 1rem;
        cursor: pointer;
    }
}