@import 'globalVariables.scss';

@mixin borderColor($color: black) {
    border: 1px solid $color;
}

@mixin buttonColor($color: black) {
    background-color: $color;
}

@mixin textColor($color: black) {
    color: $color;
}

//Elemento padre
.pricing {
    font-family: $alternativeTextFont;
    text-align: center;

    //titulo
    &__title {
        font-size: 1.7em;

        @media only screen and (min-width:1000px) {
            margin-top: 100px;
        }
    }

    //Caja 
    &__pricingBox {
        margin: 10%;
        @include borderColor($pricingPink);
        border-radius: 18px;
        overflow: hidden;
        max-width: 300px;
        align-items: center;
        margin-bottom: 15%;

        @media only screen and (min-width:1000px) {
            display: inline-block;
            overflow: visible;
            margin-right: 1%;
            margin-left: 2%;
            height: 350PX;
            width: 270PX;
        }

        //contenido izquierdo
        &__leftContent {
            display: inline-block;
            text-align: center;
            vertical-align: top;
            padding-top: 4em;

            @media only screen and (min-width:1000px) {
                display: block;

            }

            &__name {
                font-weight: bold;
                font-size: 1.2em;
            }

            &__price {
                font-size: 2.5em;
                color: $pricingPink;
            }

            &__footer {
                font-size: 0.7em;
                ;
            }
        }

        //tabla
        &__rightContent {
            display: inline-block;
            font-size: 0.8em;
            margin-top: 5%;
            margin-left: 2%;
            align-items: end;
            text-align: left;

            &__line {
                margin: 1em;

                &__img {
                    display: inline;

                }

                &__p {
                    display: inline-block;
                    margin-left: 1em;

                    &--last {
                        display: inline-block;
                        margin-left: 1em;
                        padding-bottom: 3em;
                    }
                }
            }
        }

        //boton
        &__button {
            display: block;
            position: absolute;
            margin-top: -1em;
            left: 7em;
            padding: 1.5em;
            border-radius: 28px;
            width: 150px;
            height: 30px;
            @include buttonColor($pricingPink);
            color: $alternativeColorText;
            border: none;
            font-size: 1rem;
            cursor: pointer;

            @media only screen and (min-width:1000px) {
                position: relative;
                left: 25%;
            }
        }

    }

    .--second {
        @include borderColor($button-color);
    }

    .--second--button {
        @include buttonColor($button-color);
    }

    .--second--price {
        @include textColor($button-color);
    }

    .--last {
        @include borderColor($pricingGreen);
    }

    .--last--button {
        @include buttonColor($pricingGreen);
    }

    .--last--price {
        @include textColor($pricingGreen);
    }
}