@import 'globalVariables.scss';

//Elemento padre
.pricing {
    font-family: $alternativeTextFont;
    padding-left: 1.8em;
    padding-right: 1.8em;

    &__container {
        @media only screen and (min-width:1000px) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    //titulo
    &__title {
        text-align: center;
        font-size: 1.7em;
        margin-bottom: 1em;

        @media only screen and (min-width:1000px) {
            padding-top: 100px;

        }
    }

    //Caja 
    &__pricingBoxContainer {
        position: relative;
        overflow: visible;

        @media only screen and (min-width:1000px) {
            display: inline-block;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
    }

    &__pricingBoxContainer:hover {
        @media only screen and (min-width:1000px) {
            transform: scale(1.1);
        }

    }

    &__pricingBox:hover {

        @media only screen and (min-width:1000px) {
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        }
    }

    &__pricingBox {

        margin-bottom: 5em;
        border: 1px solid $pricingPink;
        border-radius: 18px;

        overflow: hidden;

        &--blue {

            border: 1px solid $button-color;
        }

        &--green {
            border: 1px solid $pricingGreen;
        }

        @media only screen and (min-width:1000px) {
            display: inline-block;
            margin-left: 0.5em;
            margin-right: 1em;
            padding-left: 5em;
            padding-right: 5em;
            padding-bottom: 0.5em;
        }

        //contenido izquierdo
        &__leftContent {
            display: inline-block;
            vertical-align: top;
            margin-top: 2em;
            text-align: center;
            min-width: 130px;



            @media only screen and (min-width:1000px) {
                display: block;
            }

            &__name {
                font-weight: bold;
                font-size: 1.2em;
                margin-bottom: 1em;
            }

            &__price {
                font-size: 2.875em;
                font-weight: 300;
                margin-bottom: 0.2em;
                color: $pricingPink;
                padding-bottom: 0.3em;
                font-family: $defaultTextFont;

                &--blue {
                    color: $button-color;
                    padding-bottom: 0em;
                }

                &--green {
                    color: $pricingGreen;
                    padding-bottom: 0em;
                }
            }

            &__footer {
                font-size: 0.75em;
                font-weight: 700;
                line-height: 0.875em;
            }
        }

        //tabla
        &__rightContent {
            display: inline-block;
            font-size: 0.875em;
            padding-top: 1.2em;
            align-items: end;
            text-align: left;
            font-weight: 400;
            margin-top: 1.5em;

            &__line {
                margin: 1em;

                &__img {
                    display: inline;

                }

                &__p {
                    display: inline-block;
                    margin-left: 1em;

                    &--last {
                        padding-bottom: 3em;
                    }
                }
            }
        }

        //boton
        &__button {

            position: absolute;
            bottom: -15%;
            left: 40%;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 3.8em;
            padding-right: 3.8em;
            border-radius: 28px;
            background-color: $pricingPink;
            color: $alternativeColorText;
            border: none;
            font-size: 1rem;
            cursor: pointer;

            @media only screen and (min-width:1000px) {
                bottom: 13%;
                left: 25%;
            }

            &--blue {
                background-color: $button-color;
            }

            &--green {
                background-color: $pricingGreen;
            }
        }

    }


}