@import 'globalVariables.scss';

//Elemento padre
.pricing {
    font-family: $alternativeTextFont;
    padding-left: 1.8em;
    padding-right: 1.8em;

    //titulo
    &__title {
        text-align: center;
        font-size: 1.7em;
        padding-bottom: 0.5em;

        @media only screen and (min-width:1000px) {
            padding-top: 100px;
        }
    }

    //Caja 
    &__pricingBox {

        margin-bottom: 5em;
        border: 1px solid $pricingPink;
        border-radius: 18px;
        position: relative;
        overflow: visible;

        &--blue {
            border: 1px solid $button-color;
        }

        &--green {
            border: 1px solid $pricingGreen;
        }

        @media only screen and (min-width:1000px) {
            display: inline-block;
        }

        //contenido izquierdo
        &__leftContent {
            display: inline-block;
            vertical-align: top;
            padding-top: 4em;
            text-align: center;
            min-width: 150px;



            @media only screen and (min-width:1000px) {
                display: block;
            }

            &__name {
                font-weight: bold;
                font-size: 1.2em;
            }

            &__price {
                font-size: 2.5em;
                color: $pricingPink;

                &--blue {
                    color: $button-color;
                }

                &--green {
                    color: $pricingGreen;
                }
            }

            &__footer {
                font-size: 0.7em;
                ;
            }
        }

        //tabla
        &__rightContent {
            display: inline-block;
            font-size: 0.8em;
            padding-top: 1em;
            align-items: end;
            text-align: left;


            &__line {
                margin: 1em;

                &__img {
                    display: inline;

                }

                &__p {
                    display: inline-block;
                    margin-left: 1em;

                    &--last {
                        padding-bottom: 3em;
                    }
                }
            }
        }

        //boton
        &__button {

            position: absolute;
            bottom: -15%;
            left: 30%;
            padding: 1.5em;
            padding-left: 3em;
            padding-right: 3em;
            border-radius: 28px;
            background-color: $pricingPink;
            color: $alternativeColorText;
            border: none;
            font-size: 1rem;
            cursor: pointer;

            @media only screen and (min-width:1000px) {
                position: relative;
                left: 25%;
            }

            &--blue {
                background-color: $button-color;
            }

            &--green {
                background-color: $pricingGreen;
            }
        }

    }


}