@import '_globalVariables.scss';

.secondSection {

    font-family: $alternativeTextFont;
    padding-top: 2em;
    padding-bottom: 2em;

    @media only screen and (min-width:1000px) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 1000px;
        padding-top: 5em;
    }

    &__element {
        position: relative;
        background-color: $backgroundPrimaryColor;
        text-align: center;
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 3em;

        @media only screen and (min-width:1000px) {
            margin-left: 10em;
            margin-right: 10em;
            margin-bottom: 3em;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        &--last {
            @media only screen and (min-width:1000px) {

                flex-direction: row;

            }
        }

        &__imgContainer {
            position: relative;

            &--pc {
                background: transparent;
                padding-top: 3em;
                top: 50%;
                z-index: 2;
                position: relative;

                @media only screen and (min-width:1000px) {
                    scale: 1.5;
                    padding-top: 0em;
                    top: 30%;
                    left: -10%;
                }
            }

            &--ellipseRed {
                background: transparent;
                position: absolute;
                left: 45%;
                z-index: 1;

                @media only screen and (min-width:1000px) {
                    scale: 1.5;
                    left: 50%;
                }
            }

            &--phone {
                padding-top: 1.2em;
                left: 5%;
                z-index: 2;
                position: relative;
                background: transparent;

                @media only screen and (min-width:1000px) {
                    scale: 1.5;
                    left: 14%;
                    top: 10%;
                    position: absolute;
                }
            }

            &--ellipseBlue {
                background: transparent;
                position: absolute;
                left: 30%;
                z-index: 1;
                margin-top: 1em;

                @media only screen and (min-width:1000px) {
                    left: 12%;
                    top: 10%;
                    scale: 1.5;
                }
            }

            &--rectangle {
                background: transparent;
                position: relative;
                z-index: 1;
                width: 100%;


                @media only screen and (min-width:1000px) {
                    left: 10%;
                    top: 0%;
                    height: 280px;
                    width: 280px;
                }
            }

            &--trumpet {
                z-index: 2;
                width: 80%;
                max-width: 300px;
                top: 15%;
                position: absolute;
                background: transparent;

                @media only screen and (min-width:1000px) {
                    top: 30%;
                    left: 15%;
                }
            }
        }

        &__textContainer {
            padding-bottom: 2em;

            &--second {
                @media only screen and (min-width:1000px) {
                    padding-left: 25em;
                }
            }

            &--last {
                @media only screen and (min-width:1000px) {
                    display: inline-block;
                    padding-top: 2em;
                }
            }

            &__title {
                padding-top: 0.5em;
                font-size: 2em;
                text-align: left;
                padding-left: 1.2em;
                max-width: 300px;

                @media only screen and (min-width:1000px) {
                    padding-top: 1em;
                    max-width: 300px;
                }

                &--last {
                    padding-top: 2%;
                    max-width: 260px;

                    @media only screen and (min-width:1000px) {
                        max-width: 400px;
                    }
                }
            }

            &__text {
                padding-top: 1.5em;
                padding-left: 3em;
                padding-bottom: 1em;
                padding-bottom: 5%;
                text-align: left;
                font-size: 0.75em;
                max-width: 270px;

                @media only screen and (min-width:1000px) {
                    margin-top: 1em;
                    max-width: 270px;
                    padding-bottom: 0%;
                }

                &--last {
                    font-size: 0.95em;
                    max-width: 290px;
                }
            }

            &__line {

                @media only screen and (min-width:1000px) {
                    padding-top: 0.5em;
                    margin-bottom: 1em;
                    margin-left: 2.2em;
                    max-width: 240px;
                    border-bottom: 2px solid $pricingPink;
                }

                &--blue {
                    @media only screen and (min-width:1000px) {
                        border-bottom: 2px solid $button-color;
                    }
                }

                &--green {
                    @media only screen and (min-width:1000px) {
                        border-bottom: 2px solid $pricingGreen;
                    }
                }
            }
        }
    }
}