.slider {
    text-align: center;
    background-color: black;
    position: relative;

    &__img {
        margin-top: 2em;
        margin-bottom: 4em;
        width: 90%;
        height: 400px;
        object-fit: cover;

        @media only screen and (min-width:1000px) {
            height: 600px;
        }
    }

    &__back {
        position: absolute;
        left: 5%;
        top: 50%;
        width: 50px;
        background-color: transparent;
        cursor: pointer;
    }

    &__next {
        position: absolute;
        right: 5%;
        top: 50%;
        width: 50px;
        cursor: pointer;
        background-color: transparent;
    }

    &__perls {
        position: absolute;
        left: 30%;
        bottom: 3%;
        background-color: transparent;

        @media only screen and (min-width:1000px) {
            left: 45%;
        }

        &__dot {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: grey;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        &__active {
            background-color: white;
        }
    }


}