.slider {
    text-align: center;
    background-color: white;
    position: relative;

    &__img {
        width: 90%;
        height: 400px;
        object-fit: cover;
        scale: 0.8;

        @media only screen and (min-width:1000px) {
            height: 500px;
            width: 80%;
            object-fit: contain;
        }
    }

    &__back {
        position: absolute;
        left: 0.5%;
        top: 45%;
        width: 50px;
        background-color: transparent;
        cursor: pointer;

        @media only screen and (min-width:1000px) {
            left: 27%;
        }
    }

    &__next {
        position: absolute;
        right: 0.5%;
        top: 45%;
        width: 50px;
        cursor: pointer;
        background-color: transparent;

        @media only screen and (min-width:1000px) {
            right: 27%;
        }
    }

    &__perls {
        position: absolute;
        left: 30%;
        bottom: 3%;
        background-color: transparent;

        @media only screen and (min-width:1000px) {
            left: 45%;
        }

        &__dot {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: grey;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        &__active {
            background-color: $button-color;
        }
    }


}