@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.header__navbar {
  padding: 1em;
  box-shadow: 0px 2px 3px rgba(65, 64, 64, 0.5);
}
.header__navbar__element {
  width: 60%;
  max-width: 300px;
}
.header__navbar__element--second {
  position: absolute;
  right: 5%;
  top: 5%;
}
@media only screen and (min-width: 1000px) {
  .header__navbar__element--second {
    visibility: hidden;
  }
}
.header__navbar__list {
  visibility: hidden;
  font-family: "Raleway", sans-serif;
  color: gray;
  position: absolute;
  right: 5%;
  top: 5%;
}
.header__navbar__list__element {
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
}
.header__navbar__list__element--first {
  border-bottom: 3px solid #08A6E4;
  color: black;
  padding-bottom: 1.9em;
}
@media only screen and (min-width: 1000px) {
  .header__navbar__list {
    visibility: visible;
  }
}
.header .openingSection {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
  padding-top: 8em;
}
.header .openingSection__header {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
}
.header .openingSection__content {
  padding-top: 4%;
  font-size: 1.2rem;
}
.header .openingSection__button {
  margin-top: 2em;
  padding: 1.5em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 40px;
  background-color: #08A6E4;
  color: White;
  font-weight: bold;
  border: none;
  box-shadow: 10px 6px 16px #07ACE6;
  font-size: 1.2rem;
  cursor: pointer;
}

.image {
  overflow: hidden;
  padding-top: 3em;
}
.image__content {
  width: 195%;
  height: auto;
  transform: translate(-25%, 0%);
}
@media only screen and (min-width: 1000px) {
  .image__content {
    width: 130%;
    height: auto;
  }
}

.mostPopular {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
@media only screen and (min-width: 1000px) {
  .mostPopular {
    padding-left: 5.2em;
    padding-right: 5em;
  }
}
.mostPopular__header {
  color: black;
  font-size: 2em;
  line-height: 1.2em;
}
.mostPopular__element {
  padding-top: 12%;
}
.mostPopular__element__imgContainer {
  position: relative;
}
.mostPopular__element__imgContainer--person {
  left: 50%;
  position: absolute;
  background: transparent;
}
.mostPopular__element__imgContainer--eye {
  left: 48%;
  top: 20%;
  position: absolute;
  background: transparent;
}
.mostPopular__element__imgContainer--papers {
  left: 50%;
  top: 14%;
  position: absolute;
  background: transparent;
}
.mostPopular__element__count {
  padding-top: 0.5em;
  font-weight: bold;
  font-size: 1.7em;
}
.mostPopular__element__text {
  padding-top: 0.5em;
  color: gray;
  font-size: 1.2em;
}
@media only screen and (min-width: 1000px) {
  .mostPopular__element {
    display: inline-block;
    margin-top: 1%;
    vertical-align: top;
    margin-right: 5.2em;
    margin-left: 5.2em;
    padding-bottom: 2em;
  }
}

.secondSection {
  background-color: rgb(212, 210, 210);
  font-family: "Raleway", sans-serif;
  padding-top: 2em;
  padding-bottom: 2em;
}
.secondSection__element {
  position: relative;
  background-color: rgb(240, 240, 240);
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element {
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 3em;
  }
}
.secondSection__element__imgContainer {
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__imgContainer {
    position: absolute;
    right: 20%;
  }
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__imgContainer--second {
    position: absolute;
    left: 0%;
  }
}
.secondSection__element__imgContainer--pc {
  background: transparent;
  padding-top: 3em;
  top: 50%;
  z-index: 2;
  position: relative;
}
.secondSection__element__imgContainer--ellipseRed {
  background: transparent;
  position: absolute;
  left: 45%;
  z-index: 1;
}
.secondSection__element__imgContainer--phone {
  padding-top: 1.2em;
  left: 5%;
  z-index: 2;
  position: relative;
  background: transparent;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__imgContainer--phone {
    left: 0%;
  }
}
.secondSection__element__imgContainer--ellipseBlue {
  background: transparent;
  position: absolute;
  left: 30%;
  z-index: 1;
  margin-top: 1em;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__imgContainer--ellipseBlue {
    left: 10%;
    top: 10%;
  }
}
.secondSection__element__imgContainer--rectangle {
  background: transparent;
  position: relative;
  z-index: 1;
  width: 100%;
}
.secondSection__element__imgContainer--trumpet {
  z-index: 2;
  width: 80%;
  max-width: 300px;
  top: 15%;
  position: absolute;
  background: transparent;
}
.secondSection__element__textContainer__title {
  padding-top: 0.5em;
  font-size: 2em;
  text-align: left;
  padding-left: 1.2em;
  max-width: 300px;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__title {
    padding-top: 1em;
    max-width: 300px;
  }
}
.secondSection__element__textContainer__title--last {
  padding-top: 2%;
  max-width: 260px;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__title--last {
    max-width: 400px;
  }
}
.secondSection__element__textContainer__text {
  padding-top: 1.5em;
  padding-left: 3em;
  padding-bottom: 1em;
  padding-bottom: 5%;
  text-align: left;
  font-size: 0.75em;
  max-width: 270px;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__text {
    margin-top: 1em;
    max-width: 300px;
    padding-bottom: 0%;
  }
}
.secondSection__element__textContainer__text--last {
  font-size: 0.95em;
  max-width: 290px;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__line {
    padding-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 2.2em;
    max-width: 240px;
    border-bottom: 2px solid #EB476E;
  }
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__line--blue {
    border-bottom: 2px solid #08A6E4;
    margin-left: 500px;
  }
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__line--green {
    border-bottom: 2px solid #55DFB4;
  }
}

.pricing {
  font-family: "Raleway", sans-serif;
  padding-left: 1.8em;
  padding-right: 1.8em;
}
.pricing__title {
  text-align: center;
  font-size: 1.7em;
  padding-bottom: 0.5em;
}
@media only screen and (min-width: 1000px) {
  .pricing__title {
    padding-top: 100px;
  }
}
.pricing__pricingBox {
  margin-bottom: 5em;
  border: 1px solid #EB476E;
  border-radius: 18px;
  position: relative;
  overflow: visible;
}
.pricing__pricingBox--blue {
  border: 1px solid #08A6E4;
}
.pricing__pricingBox--green {
  border: 1px solid #55DFB4;
}
@media only screen and (min-width: 1000px) {
  .pricing__pricingBox {
    display: inline-block;
  }
}
.pricing__pricingBox__leftContent {
  display: inline-block;
  vertical-align: top;
  padding-top: 4em;
  text-align: center;
  min-width: 150px;
}
@media only screen and (min-width: 1000px) {
  .pricing__pricingBox__leftContent {
    display: block;
  }
}
.pricing__pricingBox__leftContent__name {
  font-weight: bold;
  font-size: 1.2em;
}
.pricing__pricingBox__leftContent__price {
  font-size: 2.5em;
  color: #EB476E;
}
.pricing__pricingBox__leftContent__price--blue {
  color: #08A6E4;
}
.pricing__pricingBox__leftContent__price--green {
  color: #55DFB4;
}
.pricing__pricingBox__leftContent__footer {
  font-size: 0.7em;
}
.pricing__pricingBox__rightContent {
  display: inline-block;
  font-size: 0.8em;
  padding-top: 1em;
  align-items: end;
  text-align: left;
}
.pricing__pricingBox__rightContent__line {
  margin: 1em;
}
.pricing__pricingBox__rightContent__line__img {
  display: inline;
}
.pricing__pricingBox__rightContent__line__p {
  display: inline-block;
  margin-left: 1em;
}
.pricing__pricingBox__rightContent__line__p--last {
  padding-bottom: 3em;
}
.pricing__pricingBox__button {
  position: absolute;
  bottom: -15%;
  left: 30%;
  padding: 1.5em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 28px;
  background-color: #EB476E;
  color: White;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .pricing__pricingBox__button {
    position: relative;
    left: 25%;
  }
}
.pricing__pricingBox__button--blue {
  background-color: #08A6E4;
}
.pricing__pricingBox__button--green {
  background-color: #55DFB4;
}

.form {
  padding-top: 1em;
  padding-left: 2em;
  font-family: "Open Sans", sans-serif;
}
@media only screen and (min-width: 1000px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.form__title {
  font-size: 2.2em;
  font-family: "Raleway", sans-serif;
}
@media only screen and (min-width: 1000px) {
  .form__title {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
  }
}
.form__subTitle {
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
  padding-bottom: 1em;
}
@media only screen and (min-width: 1000px) and (min-width: 1000px) {
  .form__subTitle {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    margin-top: 4em;
  }
}
.form__contactLine {
  padding-top: 1em;
}
@media only screen and (min-width: 1000px) {
  .form__contactLine {
    grid-column: 1;
    grid-row: 2;
    z-index: 3;
    margin-top: -2em;
  }
}
.form__contactLine__text {
  display: inline-block;
  color: gray;
}
.form__inputLine {
  padding-top: 1em;
  padding-bottom: 2em;
}
@media only screen and (min-width: 1000px) {
  .form__inputLine {
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
    margin-top: -2.5em;
    margin-bottom: 0em;
    vertical-align: top;
  }
}
.form__inputLine__inputName {
  padding-top: 3em;
  padding-bottom: 2em;
  color: #08A6E4;
  font-size: 0.8em;
}
@media only screen and (min-width: 1000px) {
  .form__inputLine__inputName {
    margin-top: 1em;
  }
}
.form__inputLine__inputUserName {
  border: none;
  border-bottom: 1px solid gray;
  width: 90%;
}
.form__inputLine__inputUserEmail {
  border: none;
  border-bottom: 1px solid gray;
  width: 90%;
}
.form__consent {
  position: relative;
  padding-bottom: 2em;
}
@media only screen and (min-width: 1000px) {
  .form__consent {
    grid-column: 2;
    grid-row: 3;
    margin-top: 2em;
  }
}
.form__consent__checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
}
.form__consent__checkbox:checked {
  background-color: transparent;
}
.form__consent__checkbox:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-50deg) scaleX(-1);
  width: 7px;
  height: 3px;
  border: solid #08A6E4;
  border-width: 0 1px 1px 0;
}
.form__consent__text {
  color: gray;
  text-align: left;
  padding-left: 2em;
  padding-right: 4em;
  font-size: 0.7em;
}
.form__button {
  margin-left: 30%;
  margin-top: 8%;
  margin-bottom: 15%;
  padding: 4%;
  border-radius: 40px;
  width: 60%;
  max-width: 250px;
  background-color: #08A6E4;
  color: White;
  font-weight: bold;
  border: none;
  box-shadow: 5px 2px 6px #07ACE6;
  font-size: 1rem;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .form__button {
    grid-column: 2;
    grid-row: 4;
    margin-top: -1em;
  }
}
@media only screen and (min-width: 1000px) {
  .form .--secondLine {
    margin-left: 12em;
    z-index: 24;
  }
}
@media only screen and (min-width: 1000px) {
  .form .--secondInput {
    grid-row: 2;
  }
}

.footerPage__logoContainer {
  display: inline-block;
  margin-right: -3em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.footerPage__logoContainer__logo {
  width: 70%;
  height: auto;
}
.footerPage__logoContainer__licent {
  font-size: 0.6em;
  display: block;
}
.footerPage__icons {
  display: inline-block;
}
.footerPage__icons__iconX {
  display: inline;
  scale: 20%;
  bottom: 5%;
  right: 0%;
}
.footerPage__icons__iconFace {
  display: inline;
  position: relative;
  margin-bottom: 0.3em;
  margin-left: 8em;
}

body {
  min-width: 320px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}/*# sourceMappingURL=style.css.map */