@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
.header__navbar {
  padding: 1em;
  box-shadow: 0px 2px 3px rgba(65, 64, 64, 0.5);
  border-bottom: 2px solid #ccc;
  position: relative;
}
.header__navbar__element {
  width: 60%;
  max-width: 300px;
}
.header__navbar__element--second {
  position: absolute;
  right: 2em;
  top: 2em;
}
@media only screen and (min-width: 1000px) {
  .header__navbar__element--second {
    visibility: hidden;
  }
}
.header__navbar__list {
  display: none;
  font-family: "Open Sans", sans-serif;
  color: gray;
  letter-spacing: 2px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  left: 0%;
  box-shadow: 0px 2px 5px rgba(65, 64, 64, 0.5);
}
.header__navbar__list__ul {
  list-style: none;
}
.header__navbar__list--event {
  display: block;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}
.header__navbar__list__element {
  margin-bottom: 1em;
  font-size: 1em;
  padding-left: 1em;
}
.header__navbar__list__element--first {
  color: black;
}
@media only screen and (min-width: 1000px) {
  .header__navbar__list {
    display: block;
    right: 5%;
    bottom: 1.5em;
    box-shadow: 0px 0px 0px rgba(65, 64, 64, 0.5);
    width: auto;
    left: auto;
  }
  .header__navbar__list__element {
    display: inline;
    margin-right: 2em;
  }
  .header__navbar__list__element--first {
    border-bottom: 3px solid #08A6E4;
    font-weight: bold;
    padding-bottom: 1.5em;
  }
}
.header__navbar__progressBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 3;
}
.header__navbar__progressBarContainer__progressBar {
  height: 100%;
  width: 0%;
  background-color: #e65a0a;
}
.header .openingSection {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
  padding-top: 4em;
}
.header .openingSection__header {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
}
.header .openingSection__content {
  padding-top: 4%;
  font-size: 1.2rem;
  padding-left: 2em;
  padding-right: 2em;
}
@media only screen and (min-width: 1000px) {
  .header .openingSection__content {
    font-size: 0.9;
  }
}
.header .openingSection__button {
  margin-top: 2em;
  padding: 1.5em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 40px;
  background-color: #08A6E4;
  color: White;
  font-weight: bold;
  border: none;
  box-shadow: 10px 6px 16px #07ACE6;
  font-size: 1.2rem;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .header .openingSection__button {
    padding-left: 8em;
    padding-right: 8em;
  }
}

.image {
  overflow: hidden;
  padding-top: 2em;
}
.image__content {
  width: 195%;
  height: auto;
  transform: translate(-25%, 0%);
}
@media only screen and (min-width: 1000px) {
  .image__content {
    width: 100%;
    height: auto;
    transform: translate(0%, 0%);
  }
}

.mostPopular {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
@media only screen and (min-width: 1000px) {
  .mostPopular {
    padding-left: 5.2em;
    padding-right: 5em;
  }
}
.mostPopular__header {
  color: black;
  font-size: 2em;
  line-height: 1.2em;
}
.mostPopular__element {
  padding-top: 8%;
}
.mostPopular__element__imgContainer {
  position: relative;
}
.mostPopular__element__imgContainer--person {
  left: 50%;
  position: absolute;
  background: transparent;
}
.mostPopular__element__imgContainer--eye {
  left: 48%;
  top: 20%;
  position: absolute;
  background: transparent;
}
.mostPopular__element__imgContainer--papers {
  left: 50%;
  top: 14%;
  position: absolute;
  background: transparent;
}
.mostPopular__element__count {
  padding-top: 0.5em;
  font-weight: bold;
  font-size: 1.7em;
  font-family: "Raleway", sans-serif;
}
@media only screen and (min-width: 1000px) {
  .mostPopular__element__count {
    font-size: 1.7em;
    font-weight: 800;
    letter-spacing: 2px;
  }
}
.mostPopular__element__text {
  padding-top: 0.5em;
  color: gray;
  font-size: 1em;
}
@media only screen and (min-width: 1000px) {
  .mostPopular__element {
    display: inline-block;
    margin-top: 1%;
    vertical-align: top;
    margin-right: 5em;
    margin-left: 5em;
    padding-bottom: 2em;
    font-size: 0.9em;
    font-weight: 400;
  }
}

.secondSection {
  font-family: "Raleway", sans-serif;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #ffffff;
}
@media only screen and (min-width: 1000px) {
  .secondSection {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding-top: 5em;
    margin: 0 auto;
  }
}
.secondSection__element {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element {
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1000px) {
  .secondSection__element--last {
    flex-direction: row;
  }
}
.secondSection__element__imgContainer {
  position: relative;
}
.secondSection__element__imgContainer--pc {
  background: transparent;
  padding-top: 3em;
  top: 50%;
  z-index: 2;
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__imgContainer--pc {
    scale: 1.5;
    padding-top: 0em;
    top: 30%;
    left: -10%;
  }
}
.secondSection__element__imgContainer--ellipseRed {
  background: transparent;
  position: absolute;
  left: 45%;
  z-index: 1;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__imgContainer--ellipseRed {
    scale: 1.5;
    left: 50%;
  }
}
.secondSection__element__imgContainer--phone {
  padding-top: 1.2em;
  left: 5%;
  z-index: 2;
  position: relative;
  background: transparent;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__imgContainer--phone {
    scale: 1.5;
    left: 14%;
    top: 10%;
    position: absolute;
  }
}
.secondSection__element__imgContainer--ellipseBlue {
  background: transparent;
  position: absolute;
  left: 30%;
  z-index: 1;
  margin-top: 1em;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__imgContainer--ellipseBlue {
    left: 12%;
    top: 10%;
    scale: 1.5;
  }
}
.secondSection__element__imgContainer--rectangle {
  background: transparent;
  position: relative;
  z-index: 1;
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__imgContainer--rectangle {
    left: 10%;
    top: 0%;
    height: 280px;
    width: 280px;
  }
}
.secondSection__element__imgContainer--trumpet {
  z-index: 2;
  width: 80%;
  max-width: 300px;
  top: 15%;
  position: absolute;
  background: transparent;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__imgContainer--trumpet {
    top: 30%;
    left: 15%;
  }
}
.secondSection__element__textContainer {
  padding-bottom: 2em;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer--second {
    padding-left: 25em;
  }
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer--last {
    display: inline-block;
    padding-top: 2em;
  }
}
.secondSection__element__textContainer__title {
  padding-top: 0.5em;
  font-size: 2em;
  text-align: left;
  padding-left: 1.2em;
  max-width: 300px;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__title {
    padding-top: 1em;
    max-width: 300px;
  }
}
.secondSection__element__textContainer__title--last {
  padding-top: 2%;
  max-width: 260px;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__title--last {
    max-width: 400px;
  }
}
.secondSection__element__textContainer__text {
  padding-top: 1.5em;
  padding-left: 3em;
  padding-bottom: 1em;
  padding-bottom: 5%;
  text-align: left;
  font-size: 0.75em;
  max-width: 270px;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__text {
    margin-top: 1em;
    max-width: 270px;
    padding-bottom: 0%;
  }
}
.secondSection__element__textContainer__text--last {
  font-size: 0.95em;
  max-width: 290px;
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__line {
    padding-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 2.2em;
    max-width: 240px;
    border-bottom: 2px solid #EB476E;
  }
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__line--blue {
    border-bottom: 2px solid #08A6E4;
  }
}
@media only screen and (min-width: 1000px) {
  .secondSection__element__textContainer__line--green {
    border-bottom: 2px solid #55DFB4;
  }
}

.pricing {
  font-family: "Raleway", sans-serif;
  padding-left: 1.8em;
  padding-right: 1.8em;
}
@media only screen and (min-width: 1000px) {
  .pricing__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
}
.pricing__title {
  text-align: center;
  font-size: 1.7em;
  padding-bottom: 0.7em;
}
@media only screen and (min-width: 1000px) {
  .pricing__title {
    padding-top: 100px;
  }
}
.pricing__pricingBoxContainer {
  position: relative;
  overflow: visible;
}
@media only screen and (min-width: 1000px) {
  .pricing__pricingBoxContainer {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}
@media only screen and (min-width: 1000px) {
  .pricing__pricingBoxContainer:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1000px) {
  .pricing__pricingBox:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
}
.pricing__pricingBox {
  margin-bottom: 5em;
  border: 1px solid #EB476E;
  border-radius: 18px;
  overflow: hidden;
}
.pricing__pricingBox--blue {
  border: 1px solid #08A6E4;
}
.pricing__pricingBox--green {
  border: 1px solid #55DFB4;
}
@media only screen and (min-width: 1000px) {
  .pricing__pricingBox {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 0.5em;
  }
}
.pricing__pricingBox__leftContent {
  display: inline-block;
  vertical-align: top;
  padding-top: 4em;
  text-align: center;
  min-width: 150px;
}
@media only screen and (min-width: 1000px) {
  .pricing__pricingBox__leftContent {
    display: block;
  }
}
.pricing__pricingBox__leftContent__name {
  font-weight: bold;
  font-size: 1.2em;
}
.pricing__pricingBox__leftContent__price {
  font-size: 2.5em;
  color: #EB476E;
  padding-bottom: 0.6em;
}
.pricing__pricingBox__leftContent__price--blue {
  color: #08A6E4;
  padding-bottom: 0em;
}
.pricing__pricingBox__leftContent__price--green {
  color: #55DFB4;
  padding-bottom: 0em;
}
.pricing__pricingBox__leftContent__footer {
  font-size: 0.7em;
}
.pricing__pricingBox__rightContent {
  display: inline-block;
  font-size: 0.8em;
  padding-top: 1em;
  align-items: end;
  text-align: left;
}
.pricing__pricingBox__rightContent__line {
  margin: 1em;
}
.pricing__pricingBox__rightContent__line__img {
  display: inline;
}
.pricing__pricingBox__rightContent__line__p {
  display: inline-block;
  margin-left: 1em;
}
.pricing__pricingBox__rightContent__line__p--last {
  padding-bottom: 3em;
}
.pricing__pricingBox__button {
  position: absolute;
  bottom: -15%;
  left: 30%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3.8em;
  padding-right: 3.8em;
  border-radius: 28px;
  background-color: #EB476E;
  color: White;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .pricing__pricingBox__button {
    bottom: 13%;
    left: 22%;
  }
}
.pricing__pricingBox__button--blue {
  background-color: #08A6E4;
}
.pricing__pricingBox__button--green {
  background-color: #55DFB4;
}

.form {
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3.5em 2em 1fr;
    grid-template-columns: 25em 35em;
    padding-left: 2em;
    justify-content: center;
  }
}
.form__title {
  font-size: 2.2em;
  font-family: "Raleway", sans-serif;
}
@media only screen and (min-width: 1000px) {
  .form__title {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
  }
}
.form__subTitle {
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
  padding-bottom: 1em;
}
@media only screen and (min-width: 1000px) and (min-width: 1000px) {
  .form__subTitle {
    grid-column: 1;
    grid-row: 2;
    z-index: 2;
  }
}
.form__contactLine {
  padding-top: 1em;
}
@media only screen and (min-width: 1000px) {
  .form__contactLine {
    grid-column: 1;
    grid-row: 3;
  }
}
@media only screen and (min-width: 1000px) {
  .form__contactLine--secondLine {
    margin-left: 12em;
  }
}
.form__contactLine__text {
  display: inline-block;
  color: gray;
}
.form__inputLine {
  padding-top: 1em;
  padding-bottom: 2em;
}
.form__inputLine__error {
  visibility: hidden;
  color: red;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
}
@media only screen and (min-width: 1000px) {
  .form__inputLine {
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
    padding: 0%;
    vertical-align: top;
  }
}
@media only screen and (min-width: 1000px) {
  .form__inputLine--secondInput {
    grid-row: 3;
  }
}
.form__inputLine__inputName {
  padding-top: 3em;
  padding-bottom: 2em;
  color: #08A6E4;
  font-size: 0.8em;
}
@media only screen and (min-width: 1000px) {
  .form__inputLine__inputName {
    padding: 0%;
    padding-bottom: 1em;
  }
}
.form__inputLine__inputUserName {
  border: none;
  border-bottom: 1px solid gray;
  width: 90%;
}
.form__inputLine__inputUserEmail {
  border: none;
  border-bottom: 1px solid gray;
  width: 90%;
}
.form__consent {
  padding-bottom: 2em;
}
@media only screen and (min-width: 1000px) {
  .form__consent {
    grid-column: 2;
    grid-row: 4;
    padding-top: 2em;
  }
}
.form__consent__checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
}
.form__consent__checkbox:checked {
  background-color: transparent;
}
.form__consent__checkbox:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-50deg) scaleX(-1);
  width: 7px;
  height: 3px;
  border: solid #08A6E4;
  border-width: 0 1px 1px 0;
}
.form__consent__text {
  color: gray;
  text-align: left;
  padding-left: 2em;
  padding-right: 4em;
  padding-bottom: 6em;
  font-size: 0.7em;
}
@media only screen and (min-width: 1000px) {
  .form__consent__text {
    font-size: 0.9em;
    padding-bottom: 0em;
    padding-right: 2em;
  }
}
.form__buttonContainer {
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .form__buttonContainer {
    grid-column: 2;
    grid-row: 5;
    text-align: right;
  }
}
.form__buttonContainer__button {
  position: absolute;
  right: 10%;
  bottom: 5%;
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 40px;
  max-width: 250px;
  background-color: #08A6E4;
  color: White;
  font-weight: bold;
  border: none;
  box-shadow: 5px 2px 6px #07ACE6;
  font-size: 1rem;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .form__buttonContainer__button {
    position: relative;
    padding-left: 5em;
    padding-right: 5em;
    text-align: right;
  }
}

.footerPage {
  position: relative;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
}
.footerPage__logoContainer {
  display: inline-block;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-bottom: 1em;
}
.footerPage__logoContainer__logo {
  width: 70%;
  height: auto;
}
.footerPage__logoContainer__licent {
  font-size: 0.6em;
  display: block;
}
.footerPage__icons {
  display: inline-block;
}
.footerPage__icons__iconX {
  display: inline;
  scale: 20%;
  position: absolute;
  bottom: 5%;
  right: 0%;
}
.footerPage__icons__iconFace {
  display: inline;
  position: absolute;
  right: 10%;
  top: 20%;
}

.goToTop {
  position: fixed;
  bottom: 8%;
  left: 5%;
  border: none;
  cursor: pointer;
  display: none;
  background: transparent;
}
.goToTop__img {
  width: 3em;
  height: 3em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.goToTop__img:hover {
  transform: scale(1.1);
}
.goToTop__vibrating {
  animation: vibrate 0.2s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
body {
  min-width: 320px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}/*# sourceMappingURL=style.css.map */